all: build



build:  src/git-managed-directories.sh.erb src/git-managed-directories@.service.erb docs/git-managed-directories.7.md
	mkdir build
	erb -r ./build-config.rb src/git-managed-directories-pull.sh.erb > build/git-managed-directories-pull.sh
	erb -r ./build-config.rb src/git-managed-directories-push.sh.erb > build/git-managed-directories-push.sh
	erb -r ./build-config.rb src/git-managed-directories.sh.erb > build/git-managed-directories.sh
	erb -r ./build-config.rb src/git-managed-directories-pull@.service.erb > build/git-managed-directories-pull@.service
	erb -r ./build-config.rb src/git-managed-directories-push@.service.erb > build/git-managed-directories-push@.service
	erb -r ./build-config.rb src/git-managed-directories@.service.erb > build/git-managed-directories@.service
	pandoc -s -t man docs/git-managed-directories.7.md | gzip > build/git-managed-directories.7.gz

install: README.md src/git-managed-directories.lib.sh src/default.conf build/git-managed-directories.sh build/*.service build/git-managed-directories.7.gz
	install -d -m 755 \
		<%= @destdir %><%= @docdir %>/git-managed-directories/ \
		<%= @destdir %><%= @datadir %>/git-managed-directories/  \
		<%= @destdir %><%= @libexecdir %> \
		<%= @destdir %><%= @sysconfdir %>/git-managed-directories/\
		<%= @destdir %><%= @mandir %>/man7/ \
		<%= @destdir %>/etc/systemd/system/ 
	install -m 644 src/git-managed-directories.lib.sh <%= @destdir %><%= @datadir %>/git-managed-directories/ 
	install -m 644 src/default.conf <%= @destdir %><%= @sysconfdir %>/git-managed-directories/
	install -m 644 README.md LICENSE <%= @destdir %><%= @docdir %>/git-managed-directories/
	install -m 755 build/*.sh <%= @destdir %><%= @libexecdir %>/
	install -m 644 build/git-managed-directories.7.gz <%= @destdir %><%= @mandir %>/man7/
	install -m 644 build/*.service <%= @destdir %>/etc/systemd/system/ 
	install -m 644 src/*.timer <%= @destdir %>/etc/systemd/system/ 

clean:
	rm -rf build
