#!/bin/bash

source <%= @datadir %>/git-managed-directories/git-managed-directories.lib.sh

_git_ssh_setup

cd $GIT_MANAGED_DIR_PATH || _git_clone

git pull | grep "Already up-to-date." || _git_set_permissions


