[Unit]
Description=Git Managed Directory Push %I
JoinsNamespaceOf=system-ssh-agent.service
Requires=system-ssh-agent.service

[Service]
Type=oneshot
EnvironmentFile=<%= @sysconfdir %>/git-managed-directories/%I.conf
ExecStart=<%= @libexecdir %>/git-managed-directories-push.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target
